* {
    margin: 0; 
    padding: 0;
}

body {
    font-size: 0;
}

a {
    text-decoration: none;
}

.container { 
    max-width: 960px;  
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo { 
    width: 92px; 
    height: 26px; 
    padding: 3px 10px 10px 3px;
    float: left;  
    font: 400 26px/26px 'Lora', serif;
}

.list {
    margin: 0;
    font: 400 12px/20px 'Oxygen', sans-serif;
    vertical-align: middle; 
}

.link {
    padding: 10px 20px;
    display: block;
}

.header {
    background-image: url('../images/header_background.jpg');
    background-size: cover;
    width: 100%;
    /* max-height: 500px; */
    background-position: center;
}

.header-content {
    padding: 17px 0;  
}

.header-content__logo {
    color:#FFFFFF; 
}

.header-content__menu-list li {
    display: inline-block;
    letter-spacing: 0.6px;
    font: 400 12px/17px 'Oxygen', sans-serif;
}

.header-content__menu-link {
    color: #FFFFFF;
}

.header-title {
    padding-top: 103px;
    font: 400 50px/51px 'Lora', serif;
    letter-spacing: 2px;
    text-align: center;
    color: #FFFFFF;
}

.header-subtitle {
    padding: 20px 0px 31px 0px;
    font: 400 17px/20px 'Oxygen', serif;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFFA1;    
}

.button {
    padding-bottom: 157px;
    margin: 0 auto;
    display: flex;
}

button {
    margin: 0 auto;
    display: flex;
    background-color:#DD783F;
    font: 400 13px/20px 'Oxygen', serif;
    letter-spacing: 0em;
    text-align: center;
    padding: 12px 31px;
    color: #FFFFFF;
    border-width: 0px;
    border-radius: 3px; 
}    

button:hover {
    margin: 0 auto;
    display: flex;
    background-color:#f3b38e;
    font: 400 13px/20px 'Oxygen', serif;
    letter-spacing: 0em;
    text-align: center;
    padding: 12px 31px;
    color: #FFFFFF;
    border-width: 0px;
    border-radius: 3px; 
}

main {
    background-color: #F7F7F7;
    padding: 0px 0px 89px 0px;

    .title {
        font-family: Oxygen;
        font-size: 20px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 2px;
        position: relative;
        text-align: center;
        &:after {
            content:'';
            position: absolute;
            width: 188px;
            bottom: 0;
            height: 1px;
            left: 40%;
            background-color: #DEDEDE;
            padding: 0px 0px 0px 0px;
        }
    }    
}

.categories {
    padding: 9px 0px;
    background-color: #FFFFFF;

    .categories__menu {
        max-width: 960px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0px auto;
        list-style-type: none;
        
        .categories__item {
            padding: 13px 25px;
            font-family: Lora;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: center;
            color: #768088;
            ;
        }
    }
}

.featuredpost {
    margin: 0px auto;
    padding-top: 60px;

    .featuredpost__body {
        max-width: 960px;
        margin: 0px auto;
    }

    /* .featuredpost__header {
    } */

    /* .featuredpost__title {
        margin: 0px 0px 16px 0px;
    } */

    .featuredpost__row {
        margin: 0 auto;
        padding-top: 23px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .featuredpost__column {
        display: inline-block;
        padding-right: 20px;
        padding-bottom: 20px;
    }
}
   
.item-featuredpost {
    background-size: 100% 100%;
    width: 430px;
    padding: 20px 15px;

    .item-featuredpost__title {
        padding-top: 157px;
        font-family: Lora;
        font-size: 27px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }

    .item-featuredpost__subtitle {
        padding-top: 6px;
        font-family: Oxygen;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFFB2;
    }

    .item-featuredpost__description {
        padding-top: 12px;
        font-family: Oxygen;
        font-size: 12px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFFB2;
        display: flex;
        justify-content: space-between;
    }
}

.description__autor {
    display: flex;    
}

.autor__icon {
    padding-right: 10px;
    display: flex;
    width: 26px;
    height: 26px;
    justify-items: center;    

    img {
        border-radius: 50%;
    }    
}

.mostrecent {
    padding-top: 40px;

    .mostrecent__body {
        max-width: 960px;
        margin: 0 auto;
    }

    /* .mostrecent__header {
    } */

    /* .mostrecent__title {
    } */

    .mostrecent__row {
        padding-top: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;          
    }

    .mostrecent__column {
        display: flex;
        justify-content: space-between;
        max-width: 296px;
        height: 291px;
        padding-right: 24px;
        padding-bottom: 25px;
        
        .item-mostrecent {
            background-color: #FFFFFF;
        
            /* .item-mostrecent__image {
            } */
        
            .item-mostrecent__title {
                padding: 14px 0px 0px 13px;
                font-family: Lora;
                font-size: 16px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                color: #101315;
            }
        
            .item-mostrecent__subtitle {
                padding: 6px 0px 0px 13px;
                font-family: Oxygen;
                font-size: 13px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
                color: #7A7A7A;
            }
        
            .item-mostrecent__description {
                font-family: Oxygen;
                font-size: 11px;
                font-weight: 400;
                line-height: 35px;
                letter-spacing: 0em;
                text-align: left;
                color: #999999;        
                display: flex;
                padding: 12px 13px 10px 13px;
                vertical-align: bottom;        
                justify-content: space-between;
        
                .description__autor {
                    display: flex;
        
                    .autor__icon {
                        align-items: center;
                        justify-content: center;
                        width: 26px;
                        height: 26px;
                    }        
                }
        
                .description__date {
                    font-size: 12px;
                }
            }
        }
    }
}

.footer {
    background-image: url('../images/footer.jpg');
    background-blend-mode: overlay;
    background-color: #4D565D;
    background-position: center;
    background-size: cover;
    padding: 28px 0 27px;
}

.footer-content__logo {
    color:#ffffff; 
}

.footer-content__menu-list li {
    display: inline-block;
    font: 400 11px/17px 'Oxygen', sans-serif;
    letter-spacing: 0.6px;    
}

.footer-content__menu-link {
    color: #FFFFFF99;
}








